#ResymbolizacjaSozo z plików mif
File Skrypty\bezwzg_wys_zwierc_wody.txt
File Skrypty\cmentarze.txt
File Skrypty\cz_degradacji_lasow.txt
File Skrypty\DEFORMACJE_POEK.txt
File Skrypty\degradacja_gleb.txt
File Skrypty\emitory_halasow_wibr.txt
File Skrypty\emitory_przemyslowe.txt
File Skrypty\EMITORY_PRZEM_ZBIORCZE.txt
File Skrypty\emitory_skupiska.txt
File Skrypty\formy_antropogeniczne.txt
File Skrypty\GLOWNE_ZB_WOD_PODZIEM.txt
File Skrypty\GROBLE.txt
File Skrypty\GRUNTY_ANTROPOGENICZNE.txt
File Skrypty\GRUNTY_ORNE_CHRONIONE.txt
File Skrypty\GRUNTY_ORNE_POZOSTALE.txt
File Skrypty\GRUNTY_OSUWISKOWE.txt
File Skrypty\GRUNTY_PODATNE_NA_INF.txt
File Skrypty\GRUNTY_PODAT_NA_DENUD.txt
File Skrypty\GRUNTY_PODAT_NA_ZALEW.txt
File Skrypty\JAKOSC_WOD_POW.txt
File Skrypty\KANALY.txt
File Skrypty\KIERUNKI_PRZEN_ZAN.txt
File Skrypty\KLASY_USZKODZEN_LASOW.txt
File Skrypty\LAKI_PASTW_CHRONIONE.txt
File Skrypty\LAKI_PASTW_POZOSTALE.txt
File Skrypty\LASY_OCHRONNE.txt
File Skrypty\LASY_POZOSTALE.txt
File Skrypty\LEJE_DEPRESYJNE_AKT.txt
File Skrypty\OBSZARY_CHRON_KRAJ.txt
File Skrypty\OBSZARY_OCH_ZB_W_SROD.txt
File Skrypty\oczyszczalnie_sciekow.txt
File Skrypty\OTULINY_PARKOW_N_K.txt
File Skrypty\PARKI_KRAJOBRAZOWE.txt
File Skrypty\PARKI_NARODOWE.txt
File Skrypty\POMNIKI_PRZYRODY.txt
File Skrypty\PRZEK_WSKAZNIKOW_ZAN.txt
File Skrypty\REZERWATY_PRZYRODY.txt
File Skrypty\SKL_ODPAD_K_R_M.txt
File Skrypty\SKL_ODPAD_PRZEM.txt
File Skrypty\SKL_PALIW_GAZOWYCH.txt
File Skrypty\SKL_PALIW_PLYNNYCH.txt
File Skrypty\SKL_PALIW_STALYCH.txt
File Skrypty\SKL_SUROWCOW.txt
File Skrypty\STANOWISKA_DOKUMENT.txt
File Skrypty\STREFY_OCH_ZRODEL_UJEC.txt
File Skrypty\UZYTKI_EKOLOGICZNE.txt
File Skrypty\WALY_OCHRONNE.txt
File Skrypty\WYLEWISKA_SCIEK_ODPAD.txt
File Skrypty\ZAN_WODY_PODZIEMNE.txt
File Skrypty\ZAN_WODY_PRZYBRZEZNE.txt
File Skrypty\ZBIORNIKI_WODNE.txt
File Skrypty\ZESPOLY_P_K.txt
File Skrypty\ZIELEN_URZADZONA.txt
File Skrypty\ZLOZA_SUROWCOW_MINERAL.txt
File Skrypty\ZRZUTY_SCIEKOW.txt
File Skrypty\ZWIERCIADLO_WOD_PODZIEM.txt
